# Visual Studio Code
.vscode

# Dataset
/dataset/*
!/dataset/.gitkeep
!/dataset/dataset_url.txt

# Compiled Object files and others
/bin
/build
/lib
/Vocabulary/ORBvoc.txt

# Thirdparty build and lib
/Thirdparty/DBoW2/build
/Thirdparty/DBoW2/lib
/Thirdparty/g2o/build
/Thirdparty/g2o/lib